@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.show-search .container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: black;
}

.show-search .image {
  width: 20%;
}

.show-search img {
  width: 7rem;
  height: 155px;
  border-radius: 10px;
}

.show-search p {
  padding-bottom: 5px;
}

.show-search .name {
  width: 80%;
  padding: 1rem 0 5px 0;
  font-size: 20px;
}

.show-search .details {
  color: #333333;
}
