.single .title {
  width: 85%;
  margin: 0 auto;
}

.single h1 {
  color: #333333;
  font-size: 2rem;
  text-align: left;
  margin: 1.5rem;
  border-left: 5px solid var(--light-green);
  padding-left: 15px;
}

.single ul {
  margin: 0 auto;
  list-style: none;
}

.single li {
  border: 1px solid #ececec;
}

section {
  position: relative;
}

.error {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: larger;
}

@media screen and (min-width: 1312px) {
  .single ul {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .single ul {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .single ul {
    width: 85%;
  }
}

@media screen and (max-width: 688px) {
  .single ul {
    width: 90%;
  }

  .single h2 {
    font-size: 1.5rem;
  }
}
