.list {
  padding: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

section {
  position: relative;
}

.error {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: larger;
}

@media screen and (max-width: 1470px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1365px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 860px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 673px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 512px) {
  .list {
    grid-template-columns: 1fr;
  }
}
