.container {
  display: inline-block;
}

.container img {
  margin: 1rem 1rem 1rem 1rem;
}

.container h1 {
  display: inline-block;
}

.error {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: larger;
}
