.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

.show-info {
  flex: 1;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.show-info-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
}

.summary {
  font-weight: 400;
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin: 1rem 0 1rem 0;
}

.summary span {
  line-height: 0.7rem;
  letter-spacing: 0.03125em;
}

.score {
  font-weight: 800;
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  padding-top: 1rem;
}

.score i {
  margin-right: 0.5rem;
  color: var(--star-yellow);
}

.media {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.img {
  flex: 1;
  max-width: 30%;
}

.img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video-wrapper {
  flex: 1 1;
  max-width: 70%;
  position: relative;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.error {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: larger;
}

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }

  .video-wrapper {
    display: block;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding-top: 56.25%;
  }

  .video-wrapper iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column; /* Stack items vertically */
  }

  .score {
    margin: 1rem 0 0 0; /* Reset margins */
    align-self: flex-start; /* Align to the left */
  }

  .media {
    margin-top: 1rem; /* Add spacing for better layout */
  }
}
