.trending h1 {
  color: #333333;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 1.5rem;
}

.trending ul {
  margin: 0 auto;
  list-style: none;
}

.trending li {
  border: 1px solid #ececec;
}

.error {
  text-align: center;
}
@media screen and (min-width: 1312px) {
  .trending ul {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .trending ul {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .trending ul {
    width: 85%;
  }
}

@media screen and (max-width: 688px) {
  .trending ul {
    width: 90%;
  }

  .trending h1 {
    font-size: 1.5rem;
  }
}
