form {
  display: flex;
  flex-flow: row wrap;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #ccea8d;
  color: black;
  padding: 0.3rem 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button p {
  padding-left: 0.2rem;
}

.button:hover,
.button:active {
  background-color: #a6bc09;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.input {
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 10rem;
  background-color: transparent;
  margin-right: 0.5rem;
}

.input:focus {
  border-color: #ccea8d;
  outline: none;
}

@media screen and (max-width: 600px) {
  .input {
    font-size: medium;
    width: 7rem;
  }

  .button {
    padding: 0.3rem 1rem;
    border-radius: 25px;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .input {
    width: 5rem;
  }

  .button {
    padding: 0.6rem 1rem;
  }

  .button p {
    display: none;
  }
}
