.show-content {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background: #f0e68c;
}
@media screen and (max-width: 3672px) {
  .show-content {
    width: 50%;
  }
}

@media screen and (max-width: 1536px) {
  .show-content {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .show-content {
    width: 80%;
  }
}
